body{
  overflow-y: hidden;
  overflow-x: hidden !important;
}
:root {
  --main-width: 40vw;
  --sub-width: calc(var(--main-width) / 2 - 10px);
}
#password{
  width: var(--main-width);
  text-align: center;

}
.outer {
  display: flex;
  justify-content: center;
  width: 100vw;
}
button{
  width: var(--sub-width);
}
#en{
  margin-right: 5px;
}
#de{
  margin-left: 5px;
}
.topmar{
  margin-top: 40vh;
}
.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
  width: var(--main-width);
  text-align: center;
  vertical-align: middle;
}
progress{
  width: var(--main-width);
}

.filebox input[type="file"] {  /* 파일 필드 숨기기 */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.filebox{
  margin-bottom: 6px;
}
#win{
  position: absolute;
  top: 20px;
  left: 20px;
}

#cas{
  text-align: center;
}

#h {
  resize: none;
  width: 100vw;
  height: 0vh;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  overflow-y: scroll;

}

#help{
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 32px;
  width: 45px;
  height: 45px;
  background-color: gray;
  color: white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.5s;
}